<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993799297878-ombocgq3994ibh0rfbjokraahulugo2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993799297878-ombocgq3994ibh0rfbjokraahulugo2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDNQHalxUkhd1rmKvfos6VfkE9Tk-4XKvs</string>
	<key>GCM_SENDER_ID</key>
	<string>993799297878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codesorbit.doro</string>
	<key>PROJECT_ID</key>
	<string>doro-52487</string>
	<key>STORAGE_BUCKET</key>
	<string>doro-52487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993799297878:ios:8e044dca94af83c71694f7</string>
	<key>DATABASE_URL</key>
	<string>https://doro-52487.firebaseio.com</string>
</dict>
</plist>